*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.first{
    min-width: 100%;
    min-height: 100%;
    background: url('image/computer.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
h1{
    position: absolute;
    top: 10%;
    left: 5%;
}
h2{
    position: absolute;
    top: 19%;
    left: 5%; 
}
.second{
    height: 200px;
    background-color: #7ebdb5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    word-spacing: 2px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 10px;
    margin: 20px 0px;
}
.flex{
    display: flex;
    justify-content: center;
}
.card{
    overflow: auto;
    border-radius: 30px;
    max-width:320px;
    height: 400px;
    box-shadow: 3px 3px 10px black;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.card:hover{
    box-shadow: 3px 3px 10px black;
    transform: scale(1.08);
}
.content h3{
    text-align: center;
    margin: 6px 0px;
}
.footer{
    display: flex;
}
.one{
   background-color: beige;
}
.one h3{
    text-align: center;
    margin: 8px;
}
.two{
   background-color: rgb(138, 138, 26);
}
.two h3{
    text-align: center;
    margin: 8px;
}